.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.logo--blue {
    color: var(--btn-logo-fh-color);
}

.logo--black {
    color: var(--logo-color);
}

.logo-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo--wight {
    color: var(--white-color);
}